$old_fontf: 'Arial', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'NanumBarunGothic','Malgun Gothic', dotum, "돋음",'sans-serif';

$max_size : 1920px;
$pc_size : 1279px;
$pc_min_size : 1080px;
$tablet_size : 767px;
$mobile_size : 320px;

$header_pc:90px;
$header_t:60px;
$header_m:44px;

$black:#222222;
$white:#ffffff;
$gray:#999999;
$lightgray:#f0f0f0;
$red:#F52222;

$point:#f87910;

$c_gmp:#ff7747;
$c_gmp_end:#ffaf84;
$c_gmx:#e8636a;
$c_gmx_end:#ea878c;
$c_gcm:#3d8cd1;
$c_gcm_end:#7cc6f0;
$c_gen:#ff7a02;
$c_gen_end:#f7c581;
$c_gau:#009b99;
$c_gau_end:#7cc3c2;
$c_grm:#86645b;
$c_grm_end:#b29086;
$c_gst:#f2653f;
$c_gst_end:#ff9266;
$c_grc:#f97955;
$c_grc_end:#fcaa93;
$c_gmk:#6187e5;
$c_gmxw:#e8636a;

$sqrt_2: 1.41421356237;